:root {
    --background: rgb(40, 40, 40);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: var(--background);
}

header {
    
}

main {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

main * {
    /* margin: 10px; */
}

#name-tag {
    width: 480px;
    height: 320px;
    border-radius: 24px;
    background-color: rgb(255, 162, 0);
    margin: 10px;
}

#greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;
    font-size: 48px;
}

#name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    background-color: white;
    font-size: 96px;
}

#name-input {
    padding: 5px;
    margin: 10px;
}

#color-selectors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 8px;
    margin: 20px;
}

#color-selectors h2 {
    font-size: 12px;
}

footer {

}
