:root {
    --background: rgb(40, 40, 40);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: var(--background);
}

header {
    
}

main {
    padding: 20px;
}

footer {

}
